<!DOCTYPE html>
<html lang="zh-CN">
<meta charset="utf-8"/>
<script type="text/javascript" src="js/angular.js" ></script>
<style>
.home .home,.list .list,.project .project,.about .about{
	font-weight: bold;
	font-family: "微软雅黑";
	color:red;
}
</style>
<body ng-app>
	<nav class="{{active}}">
		<a href="#" class="home" ng-click="active='home' ">Home</a>
		<a href="#" class="list" ng-click="active='list' ">List</a>
		<a href="#" class="project" ng-click="active='project' ">Project</a>
		<a href="#" class="about" ng-click="active='about'">About</a>
	</nav>
	<p ng-hide="active">请选择</p>
	<p ng-show="active">你选择了{{active}}</p>
</body>
</html>
